.CustomSelect {
  width: 210px;
  font-size: 1.1rem;
}
.CustomSelect .ant-select-selector {
  height: 40px !important;
  align-items: center;
  border-radius: 5px!important;
}
.CustomSelect > span {
  margin-top: 0;
  top: 20px;
  right: 10px;
  width: 12px;
  height: 20px;
  transform: translateY(-50%);
}
.CustomSelect > span > img {
  width: 18px;
  height: 20px;
}
